<div class="login-box center-box">
  <h1><%= t('sessions.new.login') %></h1>

  <ul>
    <% @session.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>

  <%= form_with url: sessions_path, scope: :session do |form| %>
    <%= form.label :email %>
    <%= form.text_field :email %>
    <br/>
    <%= form.label :password %>
    <%= form.password_field :password %>
    <%= form.submit t('sessions.form.submit') %>
  <% end %>
</div>