<div class="login-page">
  <%= image_tag asset_pack_path('src/images/login_bg.svg') %>

  <%= form_with url: sessions_path, scope: :session do |form| %>
    <div class="login-notice">
      <%= t('sessions.new.login') %>
    </div>


    <div class="login-form-group">
      <%= form.label :email, class: "email-label" %>
      <%= form.text_field :email, class: "email-field" %>
    </div>

    <div class="login-form-group" style="margin-top: 1.5625rem;">
      <%= form.label :password, class: "email-label", style: ('margin-left: -4rem;' if params[:locale] == 'en' ) %>
      <%= form.password_field :password, class: "email-field" %>
    </div>

    <div class="login-form-group" style="margin-top: 2.125rem;">
      <a class="forget-password" href="<%= new_password_reset_path %>"><%= t(".forget_password") %></a>
      <%= form.submit t('sessions.form.submit'), class: "login-button" %>
    </div>

    <ul>
      <% @session.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
<% end %>
</div>
