<div class="login-page">
  <%= image_tag asset_pack_path('src/images/forget_password_bg.svg') %>

  <%= form_with url: password_resets_path, scope: :author do |form| %>
    <div class="login-notice">
      <%= t('.forget_password') %>
    </div>


    <div class="login-form-group">
      <%= form.label :email, t(".email"), class: "email-label" %>
      <%= form.text_field :email, class: "email-field" %>
    </div>

    <div class="login-form-group" style="margin-top: 2.125rem;">
      <a class="forget-password" href="<%= login_path %>"><%= t(".back_login") %></a>
      <%= form.submit t('.submit'), class: "login-button" %>
    </div>

    <ul>
      <% @author.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
</div>
