<div class="comment-form">
  <%= form_with url: post_comments_path(@post), scope: :comment, remote: true do |form| %>

    <%= form.hidden_field :parent_id, class: 'parent-id-field' %>

    <%= form.text_area :content, id: "comment-content", class: "comment-content", placeholder: t('.comment_post') %>

    <div class="row parent-box">
      <div class="reply-to-user col-6">
        <i hidden class="rtu fas fa-times-circle cancel-reply"></i>
        <span hidden class="rtu"><%= t(".reply_to_user") %></span>
        <span hidden class="rtu reply-to-user-name"></span>
        <span hidden class="rtu">...</span>
      </div>


      <div class="comment-box flex-end col-6 row">
        <div class="comment-infos col-6">
          <% unless logged_in? %>
            <%= form.text_field :email, class: "comment-email", placeholder: t('.email_placeholder') %>

            <%= form.text_field :name, class: "comment-name", placeholder: t('.name_placeholder') %>
          <% end %>
        </div>

        <div class="col-6 flex-center">
          <%= form.submit t('.submit'), 'data-turbolinks-action': "replace", id: "submit-comment", class: "comment-submit-button" %>
        </div>
      </div>
    </div>


  <% end %>
</div>