<h5 align="center"><%= t('.all') %></h5>

<% @comments.each do |comment| %>
  <div class="comment">
    <div class="comment-avatar">
      <%= image_tag comment_avatar(comment), class: "rounded-avatar", alt: "Avatar" %>
    </div>

    <div class="comment-author-name">
      <%= comment_user_name(comment) %>
    </div>

    <div class="comment-date">
      <%= l comment.created_at, format: :date_only %>
    </div>

    <div class="comment-p">
      <%= comment.content %>
    </div>

    <div class="comment-icons">
      <i class="fas fa-reply text-secondary reply-to" id="reply-to-<%= comment.id %>" data-id="<%= comment.id %>" data-name="<%= comment_user_name(comment) %>"></i>

      <% if can_delete_comment?(comment) %>
        <%= link_to comment_path(comment), method: :delete, data: { confirm: t('.confirm_delete_comment') }, remote: true do %>
          <i class="fas fa-trash-alt text-secondary"></i>
        <% end %>
      <% end %>
    </div>

  </div>
<% end %>


<%#= paginate @comments %>