<div class="author-info">
  <%= image_tag author_avatar(@author), alt: "avatar" %>

  <div class="info-content">
    <div class="name"><%= @author.name %></div>
    <div class="bio"><%= @author.bio %></div>

    <div class="post-icons">
      <%= link_to @author.twitter_url, target: "_blank" do %>
        <i class="icon-twitter"></i>
      <% end %>

      <%= link_to @author.weibo_url, target: "_blank" do %>
        <i class="icon-weibo"></i>
      <% end %>

      <%= link_to @author.github_url, target: "_blank" do %>
        <i class="icon-github"></i>
      <% end %>
    </div>
  </div>
</div>