<%= render "shared/navbar" %>


<div class="authors">
  <% @authors.each do |author| %>
    <div class="author-card">
      <div class="sidebar"></div>
      <div class="author-content">
        <div class="author-card-item author-info-card-item">
          <div class="author-avatar">
            <a href="<%= posts_path(author: author.email) %>">
              <%= image_tag author_avatar(author), class: "rounded-avatar", alt: 'avatar' %>
            </a>
          </div>
          <div class="author-name">
            <h5>name</h5>
            <p><%= author.bio %></p>
          </div>
        </div>

        <% author.posts.limit(2).each do |post| %>
          <div class="author-card-item">
            <a href="<%= post_path(post) %>" >
              <div style="background-image: url(<%= post.cover.url %>); background-size: 100% 100%; height: 80%; margin-top: 10%; margin-left: 5%; margin-right: 5%" >
                <div class="author-post-title">
                  <%= post.title %>
                </div>
              </div>
            </a>
          </div>
        <% end %>
      </div>

      <div class="bottom-left-bar"></div>
      <div class="bottom-right-bar"></div>

    </div>

  <% end %>

</div>

<div class="container  my-5">
  <div style="position: absolute; left: 50%;">
    <div style="position: relative; left: -50%;">
      <%= paginate @authors, window: 1, outer_window: 1 %>
    </div>
  </div>
</div>

<div style="height: 100px"></div>





