<div class="login-box center-box">
  <h1><%= t('.activate_account') %></h1>

  <ul>
    <% @invitation.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>

  <%= form_with url: invitation_path(id: @invitation.code), method: :patch, scope: :invitation, remote: true do |form| %>
    <%= form.label :email %>
    <%= form.text_field :email, disabled: true %>
    <br/>

    <%= form.label :name %>
    <%= form.text_field :name %>
    <br/>

    <%= form.label :password %>
    <%= form.password_field :password %>
    <br/>

    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation %>
    <br/>

    <%= form.submit %>
  <% end %>
</div>