<div class="login-box center-box">
  <h1>邀请用户</h1>

  <ul>
    <% @invitation.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>

  <%= form_with model: @invitation, scope: :invitation, remote: true do |form| %>
    <%= form.label :email %>
    <%= form.text_field :email %>
    <br/>

    <%= form.label :name %>
    <%= form.text_field :name %>
    <br/>

    <%= form.submit "注册" %>
  <% end %>
</div>