<input id="image" type="file" hidden/>

<div class="post-form">
  <%= form_with model: @post, scope: :post, remote: true do |form| %>
    <div class="post-buttons">
      <div class="left-buttons">
        <button id="image-wrap" class="post-button border-highLight ladda-button" data-style="zoom-in" type="button">
          <i class="icon-image post-button-icon ladda-label"></i>
          <span class="post-button-text"><%= t('.upload_image') %></span>
        </button>
      </div>
      <div class="right-buttons">
        <button id="preview-button" class="post-button border-highLight edit-status" type="button">
          <!--<i class="path1 post-button-icon"></i>-->
          <i class="icon-preview post-button-icon"></i>
          <span class="post-button-text"><%= t(".preview") %></span>
        </button>

        <button id="edit-button" class="post-button border-highLight preview-status" type="button" hidden>
          <i class="icon-edit post-button-icon"></i>
          <span class="post-button-text"><%= t(".edit") %></span>
        </button>

        <button class="post-button border-highLight submit-post" type="submit">
          <i class="icon-save post-button-icon"></i>
          <span class="post-button-text"><%= t('.save') %></span>
        </button>

        <% if @post&.published? %>
          <button class="post-button border-highLight publish-button" name="post[published]" value="false" type="submit">
            <i class="icon-close post-button-icon"></i>
            <span class="post-button-text"><%= t('.unpublish') %></span>
          </button>
        <% else %>
          <button class="post-button border-highLight publish-button submit-post" name="post[published]" value="true" type="submit">
            <i class="icon-publish post-button-icon"></i>
            <span class="post-button-text"><%= t('.publish') %></span>
          </button>
        <% end %>



      </div>
    </div>

    <%= form.text_field :title, placeholder: t(".title"), class: "title-area title-field border-highLight caret-highlight", id: "title" %>
    <!--<div class="title-area">-->
    <!--</div>-->

    <%= form.text_area :content, id: 'content', class: "post-area edit-status post-content caret-highlight" %>

    <div class="post-preview preview-status post-content " hidden>
    </div>

    <div class="upload-cover">
      <%= form.file_field :cover, class: "cover-field", id: "cover-field", hidden: true %>
      <button class="upload-cover-button border-highLight" type="button">
        <%= t(".upload_cover") %>
      </button>
      <span id="upload-cover-text" class="upload-cover-text"><%= t(".not_upload") %></span>
    </div>

    <div class="rest-fields">
      <%= form.text_field :slug, placeholder: t(".slug"), class: "slug-field input-other-info border-highLight caret-highlight" %>
      <%= form.text_field :tag_string, placeholder: t('.tag_string_placeholder'), class: "tag-string-field input-other-info border-highLight caret-highlight" %>
    </div>
  <% end %>

  <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
</div>
