<%= form_with model: @post, scope: :post, remote: true do |form| %>
  <%= form.label :title %>
  <%= form.text_field :title %>
  <br/>
  <%= form.label :content %>
  <%= form.text_area :content, id: 'content', style: "height: 400px; width:  600px" %>
  <%#= form.hidden_field :published, value: true %>
  <br/>

  <%= form.label :slug %>
  <%= form.text_field :slug %>
  <br/>

  <%= form.label :tag_string %>
  <%= form.text_field :tag_string, placeholder: t('.tag_string_placeholder') %>
  <br/>

  <%= form.button t('.save'), name: "post[published]", value: false, type: :submit %>

  <%= form.button t('.publish'), name: 'post[published]', value: true, type: "submit",
               data: { confirm: t('.confirm_publish')} %>
<% end %>

<button id="preview">预览</button>

<div>
  <span id="content-preview"></span>
</div>

