<input id="image" type="file" hidden/>

<div class="post-form">
  <%= form_with model: @post, scope: :post, remote: true do |form| %>
    <div class="post-buttons">
      <div class="left-buttons">
        <button id="image-wrap" class="post-button ladda-button" data-style="zoom-in" type="button">
          <i class="far fa-image post-button-icon ladda-label"></i>
          <span class="post-button-text"><%= t('.upload_image') %></span>
        </button>
      </div>
      <div class="right-buttons">
        <button id="preview-button" class="post-button edit-status" type="button">
          <i class="fas fa-eye post-button-icon"></i>
          <span class="post-button-text"><%= t(".preview") %></span>
        </button>

        <button id="edit-button" class="post-button preview-status" type="button" hidden>
          <i class="fas fa-edit post-button-icon"></i>
          <span class="post-button-text"><%= t(".edit") %></span>
        </button>

        <button class="post-button" type="submit">
          <i class="far fa-save post-button-icon"></i>
          <span class="post-button-text"><%= t('.save') %></span>
        </button>

        <% if @post&.published? %>
          <button class="post-button publish-button" name="post[published]" value="false" type="submit">
            <i class="fas fa-times-circle post-button-icon"></i>
            <span class="post-button-text"><%= t('.unpublish') %></span>
          </button>
        <% else %>
          <button class="post-button publish-button" name="post[published]" value="true" type="submit">
            <i class="fas fa-check-circle post-button-icon"></i>
            <span class="post-button-text"><%= t('.publish') %></span>
          </button>
        <% end %>



      </div>
    </div>

    <div class="title-area">
      <%= form.text_field :title, placeholder: t(".title"), class: "title-field caret-highlight" %>
    </div>

    <div class="post-area edit-status">
      <%= form.text_area :content, id: 'content', class: "post-content caret-highlight" %>

    </div>

    <div class="post-preview preview-status" hidden>
    </div>

    <div class="upload-cover">
      <%= form.file_field :cover, class: "cover-field", id: "cover-field", hidden: true %>
      <button class="upload-cover-button" type="button">
        <%= t(".upload_cover") %>
      </button>
      <span id="upload-cover-text"><%= t(".not_upload") %></span>
    </div>

    <div class="rest-fields">
      <%= form.text_field :slug, placeholder: t(".slug"), class: "slug-field caret-highlight" %>
      <%= form.text_field :tag_string, placeholder: t('.tag_string_placeholder'), class: "tag-string-field caret-highlight" %>
    </div>
  <% end %>
</div>
