<div class="post-covers">
  <% posts.each do |post| %>
    <div class="post">
      <a href="<%= post_path_with_slug(post) %>">
        <img src="<%= cover_image(post) %>" alt="Card image cap" class="cover-img">
      </a>
      <%= link_to post_title(post), post_path_with_slug(post), class: "title" %>
      <p class="desc">
        <%= truncate(strip_tags(post.cooked_content), length: 17, separator: /\w+/, escape: false)&.html_safe %>
      </p>
      <div class="author">
        <%= image_tag author_avatar(post.author), class: "avatar", alt: "avatar" %>
        <div class="profile">
          <span>
            <%= post.author.name %>
          </span>
          <span>
            <%= l post.created_at, format: :date_only %>
          </span>
        </div>
      </div>
    </div>
  <% end %>
</div>


<div class="container my-5">
  <div style="position: absolute; left: 50%;">
    <div style="position: relative; left: -50%;">
      <%= paginate posts, window: 1, outer_window: 1 %>
    </div>
  </div>
</div>

<div style="height: 60px;"></div>
