<h5>share buttons</h5>

<a class="twitter-share-button" href="<%= share2twitter(@post) %>" target="_blank">
  <i class="fab fa-twitter fa-2x"></i>
</a>

<a class="twitter-share-button" href="<%= share2weibo(@post) %>" target="_blank">
  <i class="fab fa-weibo fa-2x"></i>
</a>

<a class="twitter-share-button" href="<%= share2weibo(@post) %>" target="_blank" data-toggle="modal" data-target="#wechat-share-modal">
  <i class="fab fa-weixin fa-2x"></i>
</a>


<!-- Modal -->
<div class="modal fade" id="wechat-share-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><%= t('.share_to_wechat') %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <canvas id="wechat-qrcode-canvas"></canvas>
      </div>
    </div>
  </div>
</div>

<div align="center">
  <h4>
    <%= post_title(@post) %>
    <%= render 'unpublished', post: @post %>
  </h4>
  <p><%= @post.author.name %>, <%= l @post.created_at, format: :date_only %></p>

  <% if @post.author.twitter.present? %>
    <%= link_to @post.author.twitter_url, target: "_blank" do %>
      <i class="fab fa-twitter"></i>
    <% end %>
  <% end %>

  <% if @post.author.weibo.present? %>
    <%= link_to @post.author.weibo_url, target: "_blank" do %>
      <i class="fab fa-weibo"></i>
    <% end %>
  <% end %>

  <% if @post.author.github.present? %>
    <%= link_to @post.author.github_url, target: "_blank" do %>
      <i class="fab fa-github"></i>
    <% end %>
  <% end %>

  <br/>

  <%= render @post.tags %>

  <% if can_edit?(@post) %>
    <%= link_to t('.edit_post'), edit_post_path, class: 'btn btn-primary' %>
    <%= link_to t('.delete_post'), post_path(@post), method: :delete, data: {confirm: t('.confirm_delete_post')}, class: 'btn btn-danger', remote: true %>
  <% end %>

</div>

<div>
  <%= @post.cooked_content&.html_safe %>
</div>

<div>
  <%= render 'comments/list' %>

  <div>
    <%= render 'comments/form' %>
  </div>
</div>
