<div align="center">
  <h4>
    <%= post_title(@post) %>
    <%= render 'unpublished', post: @post %>
  </h4>
  <p><%= @post.author.name %>, <%= l @post.created_at, format: :date_only %></p>

  <% if @post.author.twitter.present? %>
    <%= link_to @post.author.twitter_url, target: "_blank" do %>
      <i class="fab fa-twitter"></i>
    <% end %>
  <% end %>

  <% if @post.author.weibo.present? %>
    <%= link_to @post.author.weibo_url, target: "_blank" do %>
      <i class="fab fa-weibo"></i>
    <% end %>
  <% end %>

  <% if @post.author.github.present? %>
    <%= link_to @post.author.github_url, target: "_blank" do %>
      <i class="fab fa-github"></i>
    <% end %>
  <% end %>

  <br/>

  <%= render @post.tags %>

  <% if can_edit?(@post) %>
    <%= link_to t('.edit_post'), edit_post_path, class: 'btn btn-primary' %>
    <%= link_to t('.delete_post'), post_path(@post), method: :delete, data: {confirm: t('.confirm_delete_post')}, class: 'btn btn-danger', remote: true %>
  <% end %>

</div>

<div>
  <%= @post.cooked_content&.html_safe %>
</div>

<div>
  <%= render 'comments/list' %>

  <div>
    <%= render 'comments/form' %>
  </div>
</div>