<div align="center">
  <h4><%= post_title(@post) %></h4>
  <p><%= @post.author.name %>, <%= @post.created_at.strftime('%Y/%m/%d') %></p>

  <% if can_edit?(@post) %>
    <%= link_to '编辑', edit_post_path, class: 'btn btn-primary' %>
    <%= link_to '删除', post_path(@post), method: :delete, data: {confirm: '确认删除?'}, class: 'btn btn-danger', remote: true %>
  <% end %>

</div>

<div>
  <%= @post.content&.html_safe %>
</div>

<div>
  <h5 align="center">评论区</h5>

  <ul>
    <% @comments.each do |comment| %>
      <%= comment.user.name %>
      <p><%= comment.content %></p>
    <% end %>
  </ul>
  <%= paginate @comments %>

  <div>
    <%= render 'comments/form' %>
  </div>
</div>