<div class="post-show">
  <div class="post-cover" style="background-image: url(<%= @post.cover.url %>); background-size: 100% 300px; height: 300px; background-repeat: no-repeat; ">

    <div class="row post-author-info">
      <div class="post-title">
        <h2><%= @post.title %></h2>
      </div>
    </div>

    <div class="row post-author-info">
      <div class="col-2">
        <%= image_tag author_avatar(@post.author), class: "rounded-avatar", alt: 'avatar' %>
      </div>

      <div class="col post-author-text-info">
        <div class="row">
          <div class="col-12">
            <span style="margin-right: 2rem;"><%= @post.author.name %></span>
            <span class="text-secondary"><%= l @post.created_at, format: :date_only %></span>
            <% unless @post.published? %>
              <span class="draft"><%= t(".draft") %></span>
            <% end %>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <%= link_to @post.author.twitter_url, target: "_blank" do %>
              <i class="fab fa-twitter text-secondary"></i>
            <% end %>

            <%= link_to @post.author.weibo_url, target: "_blank" do %>
              <i class="fab fa-weibo text-secondary"></i>
            <% end %>

            <%= link_to @post.author.github_url, target: "_blank" do %>
              <i class="fab fa-github text-secondary"></i>
            <% end %>
          </div>
        </div>

      </div>

    </div>
  </div>

  <div class="article-area">
    <div class="article-main">
      <article class="article-content">
        <%= @post.cooked_content&.html_safe %>

      </article>

      <div class="post-tags">
        <% @post.tags.each do |tag| %>
          <button class="button-tag"><%= tag.name %></button>
        <% end %>
      </div>

      <%= render 'comments/form' %>

      <%= render 'comments/list' %>

    </div>

    <div class="post-operations <%= "add-width" if params[:locale] == "en" %>">
      <% if can_edit?(@post) %>
        <a class="post-button" href="<%= edit_post_path %>">
          <i class="fas fa-edit post-button-icon"></i>
          <span class="post-button-text"><%= t('.edit_post') %></span>
        </a>

        <%= link_to post_path(@post), method: :delete, data: {confirm: t('.confirm_delete_post')}, remote: true, class: "post-button" do %>
          <i class="fas fa-trash-alt post-button-icon"></i>
          <span class="post-button-text"><%= t('.delete_post') %></span>
        <% end %>

        <% if @post.published? %>
          <button class="post-button" id="unpublish" data-path="<%= post_path(@post, format: :json) %>">
            <i class="fas fa-times-circle post-button-icon"></i>
            <span class="post-button-text"><%= t(".unpublish") %></span>
          </button>
        <% else %>
          <button class="post-button" id="publish" data-path="<%= post_path(@post, format: :json) %>">
            <i class="fas fa-check-circle post-button-icon"></i>
            <span class="post-button-text"><%= t(".publish") %></span>
          </button>
        <% end %>

      <% end %>
    </div>
  </div>

  <div class="post-share-icons">
    <div class="share-circle">
      <a class="twitter-share-button" href="<%= share2twitter(@post) %>" target="_blank">
        <i class="fab fa-twitter fa-2x text-secondary"></i>
      </a>
    </div>

    <div class="share-circle">
      <a class="twitter-share-button" href="<%= share2weibo(@post) %>" target="_blank">
        <i class="fab fa-weibo fa-2x text-secondary"></i>
      </a>
    </div>

    <div class="share-circle">
      <a class="twitter-share-button" href="<%= share2weibo(@post) %>" target="_blank" data-toggle="modal" data-target="#wechat-share-modal">
        <i class="fab fa-weixin fa-2x text-secondary"></i>
      </a>
    </div>

  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="wechat-share-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><%= t('.share_to_wechat') %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <canvas id="wechat-qrcode-canvas"></canvas>
      </div>
    </div>
  </div>
</div>

