<div class="total-header" id="blog-header">
  <div class="blog-header">

    <div class="search">
      <form action="http://www.google.com/search" class="searchform" method="get" name="searchform" target="_blank">
        <input name="sitesearch" type="hidden" value="<%= ENV['host_for_search'] %>">
        <input autocomplete="on" class="form-controls search" name="q" required="required" type="text" />
        <button class="button" type="submit" hidden>Search</button>
      </form>
    </div>

    <div class="blog-title">
      <a href="<%= root_path %>">Small</a>
    </div>

    <div class="actions">

      <div class="login">
        <% if logged_in? %>
          <div class="dropdown">
            <%= image_tag author_avatar(current_user), class: "dropdown-toggle rounded-circle", alt: 'cover', "data-toggle": "dropdown", "aria-haspopup": "true", "aria-expanded": "false", id: "dropdownMenuButton", style: "width: 2rem; height: 2rem" %>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <%= link_to t('.new_post'), new_post_path, class: "dropdown-item" %>
              <%= link_to t('.edit_author'), edit_author_path(current_user), class: "dropdown-item" %>
              <a
              id="reset-password"
              class="dropdown-item reset-password"
              style="cursor: pointer;"
              data-link="<%= password_resets_path(email: current_user.email, format: :json) %>"
              data-title="<%= t(".data_title") %>"
              data-button="<%= t(".data_button") %>"
              data-text="<%= t(".data_text") %>"
              >
                <%= t(".reset_password") %>
              </a>

              <% if current_user&.admin? %>
                <%= link_to t('.invite'), new_invitation_path, class: "dropdown-item" %>
              <% end %>

              <%= link_to t('.logout'), logout_path, class: "dropdown-item" %>
            </div>
          </div>
        <% else %>
          <%= link_to t('.login'), login_path, class: "text-dark" %>
        <% end %>
      </div>

      <div class="lang">
        <a href="#" class="chinese <%= params[:locale] == 'en' ? 'text-dark' : 'text-primary' %>">中文</a>
        /
        <a href="#" class="english <%= params[:locale] == 'en' ? 'text-primary' : 'text-dark' %>">EN</a>
      </div>

      <div class="rss">
        <%= link_to '<i class="fas fa-rss"></i>'.html_safe, feed_path, class: 'text-dark', "data-turbolinks": false %>
      </div>
    </div>

  </div>

  <% if show_navbar? %>
    <%= render 'shared/navbar' %>
  <% end %>

</div>