<nav id="menu">
  <ul class="normal">
    <li>
      <%= link_to t('layouts.header.posts'), posts_path %>
    </li>
    <li>
      <%= link_to t('layouts.header.authors'), authors_path %>
    </li>
  </ul>

  <% if logged_in? %>
    <div class="menu-line"></div>

    <ul class="author-menu">
      <li>
        <%= image_tag author_avatar(current_user), class: "dropdown-toggle rounded-circle", alt: 'cover', "data-toggle": "dropdown", "aria-haspopup": "true", "aria-expanded": "false", id: "dropdownMenuButton", style: "width: 6.25rem; height: 6.25rem" %>
      </li>
      <li>
        <%= link_to t('layouts.header.new_post'), new_post_path %>
      </li>
      <li>
        <%= link_to t('layouts.header.my_posts'), posts_path(author: current_user.email) %>
      </li>
      <li>
        <%= link_to t('layouts.header.edit_author'), edit_author_path(current_user) %>
      </li>
      <li>
        <a
        id="reset-password"
        class="reset-password"
        style="cursor: pointer;"
        data-link="<%= password_resets_path(email: current_user.email, format: :json) %>"
        data-title="<%= t("layouts.header.data_title") %>"
        data-button="<%= t("layouts.header.data_button") %>"
        data-text="<%= t("layouts.header.data_text") %>"
        >
          <%= t("layouts.header.reset_password") %>
        </a>
      </li>
      <% if current_user&.admin? %>
        <li>
          <%= link_to t('layouts.header.invite'), new_invitation_path %>
        </li>
      <% end %>
      <li>
        <%= link_to t('layouts.header.logout'), logout_path %>
      </li>
    </ul>
  <% end %>

  <div class="menu-line"></div>

  <ul class="lang-and-rss">
    <% unless logged_in? %>
      <li>
        <%= link_to t('layouts.header.login'), login_path %>
      </li>
    <% end %>

    <li class="lang">
      <a href="#" class="chinese <%= locale_english? ? 'text-white' : 'text-highlight' %>">中文</a>
      /
      <a href="#" class="english <%= locale_english? ? 'text-highlight' : 'text-white' %>">EN</a>
    </li>
    <li class="rss">
      <%= link_to '<i class="icon-rss"></i>'.html_safe, feed_path, class: 'text-white', "data-turbolinks": false %>
    </li>
  </ul>

</nav>
