<!DOCTYPE html>
<html>
  <head>
    <title><%= ENV['SITE_NAME'] %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/mobile_navbar" %>

    <div id="panel" class="panel">
      <div id="mobile-header">
        <%= render "layouts/mobile_header" %>
      </div>

      <div id="pc-header">
        <%= render "layouts/header" %>
      </div>

      <div id="main-content" class="main-content">
        <%= render 'shared/notice' %>
        <%= yield %>
      </div>

      <%= render 'layouts/footer' %>
    </div>

    <%# console %>
  </body>
</html>
