<!DOCTYPE html>
<html>
  <head>
    <title>Small</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/mobile_navbar" %>

    <div id="panel">
      <div id="mobile-header">
        <%= render "layouts/mobile_header" %>
      </div>

      <div id="pc-header">
        <%= render "layouts/header" %>
      </div>

      <div id="main-content" style="padding-bottom: 100px;">
        <%= render 'shared/notice' %>
        <%= yield %>
      </div>
      <%= render 'layouts/footer' %>
    </div>

  </body>
</html>
